<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/nav.css">
</head>
<body>
    <%- include('../partials/nav', { title: title, user: user }) %>
    <div class="container">
        <h1>Todo List from Test</h1>
        <a href="/test/users">사용자별 TODO 보기</a>
        <!-- Todo list -->
        <ul class="todo-list">
            <% if(todos.length > 0) { %>
                <span>완료/미완료 | &nbsp;&nbsp; is_completed |  &nbsp;&nbsp; todo_id |  &nbsp;&nbsp; user_id |  &nbsp;&nbsp; title |  &nbsp;&nbsp; created_at </span>
                <% todos.forEach(function(todo) { %>
                    <li class="<%= todo.is_completed ? 'completed' : '' %>">
                        <% if (todo.is_completed === 1) { %> 
                            <span> [완료] </span>
                        <% } else { %>
                            <span> [미완료] </span>
                        <% } %>
                        <span><%= todo.is_completed %></span>
                        <span><%= todo.todo_id %></span>
                        <span><%= todo.user_id %></span>
                        <span><%= todo.title %></span>
                        <span><%= new Date(todo.created_at).toLocaleString('ko-KR') %></span>
                    </li>
                <% }); %>
            <% } else { %>
                <p>You have no todos yet.</p>
            <% } %>
        </ul>
    </div>
</body>
</html>