<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/nav.css">
</head>
<body>
    <%- include('../partials/nav', { title: title, user: user }) %>
    <div class="container">
        <h1>Users List</h1> <a href="/test/todoInsertView">Add Todo</a>
        <ul class="user-list">
            <% if(users.length > 0) { %>
                <% users.forEach(function(user) { %>
                    <li>
                        <a href="/test/users/<%= user.user_id %>/todos"><%= user.user_name %> - ALL Record</a> &nbsp;&nbsp;&nbsp;
                        <a href="/test/users/<%= user.user_id %>/todos-page"><%= user.user_name %> - Page Record</a>
                    </li>
                <% }); %>
            <% } else { %>
                <p>No users found.</p>
            <% } %>
        </ul>
    </div>
</body>
</html>