<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/nav.css">
</head>
<body>
    <%- include('../partials/nav', { title: title, user: user }) %>
    <div class="container">
        <h1>Todos for <%= userName %></h1>
        <a href="/test/users" class="back-link">Previous</a>
        <ul class="todo-list">
            <% if(todos.length > 0) { %>
                <% todos.forEach(function(todo) { %>
                    <li class="<%= todo.is_completed ? 'completed' : '' %>">
                        <% if (todo.is_completed === 1) { %> 
                            <span> [완료] </span>
                        <% } else { %>
                            <span> [미완료] </span>
                        <% } %>

                        <a href="/test/todoModifyView/<%= todo.todo_id %>"><%= todo.title %></a>
                    </li>
                <% }); %>
            <% } else { %>
                <p>This user has no todos yet.</p>
            <% } %>
        </ul>
    </div>
</body>
</html>